* {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    color: white;
}

body {
    margin: 0;
    background:
        linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
        url("../content/bakgrund2.jpg");
        
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    align-items: center;
    height: 200px;
    width: 100%;
    position: top;
}

.top-logo {
    width: 600px;
    margin-top: 60px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: -100px;
}

nav a {
    color: white;
    text-decoration: none; 
    font-size: 18px;
    font-weight: 100;  
}

nav a:hover {
    color: #FF4F00;
}

.intro {
    text-align: center;
}

#big-logo {
    width: 800px;
    margin-top: 100px;
}

h1 {
    font-family: "Bpmf Iansui", sans-serif;
    text-align: center;
    font-size: 48px;
    margin-top: 150px;
    opacity: 0;
    animation: FadeUp 2s ease forwards;
}

h2 {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    opacity: 0;
    animation: FadeUp 2s ease forwards;
    animation-delay: 1s;
}

@keyframes FadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: rgba(0,0,0,0.6);
}

